@{
    ViewBag.Title = "Om oss";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Älvsyssels Vård AB
    Vi har vårt säte på Orust i vackra Bohuslän i Västra Götalandsregion. Därav namnet Älvsyssels som är ett äldre namn på vår del av Bohuslän. Vi som driver företaget är Dorien Janssen och Kia Johansson Karlsson. Vi är utbildade intensivvårdssjuksköterskor och har jobbat med det i över 20 år. I vårt arbete träffar vi ofta människor som drabbas av olika förluster. En anhörig som inte överlevt någon som drabbats av allvarlig sjukdom. Vi brinner för att hjälpa människor. Vi är det lilla bolaget med det stora hjärtat.
    I mars 2019 gick vi en kurs i hjärt- och lungräddning. Vi blev då medvetna om hur dåligt vårt skydd som medborgare i Sverige är om vi drabbas av plötsligt hjärtstopp.  Vi har som alla andra varit nöjda med de hjärtstarter som finns i samhället. MEN DÅ BLEV VI MEDVETNA om hur viktig tiden är. INOM 5 min ska första stöten av en hjärtstartare ges om vi ska kunna rädda liv. Vi började fundera hur långt hinner vi på 5 min?
    Vi vill att fler lär sig HLR och vi vill att fler hjärtstartare finns tillgängliga inom en radie på 5 minuter. Vi kan rädda ditt hjärta om du drabbas. KAN DU RÄDDA DIN PARTNERS ELLER DINA BARNS HJÄRTA?  Låt oss lära dig hur du gör.  Köp en hjärtstartare av oss. Vi erbjuder en gratis HLR kurs för en person om du köper hjärtstartaren av oss. Om du använder den i skarpt läge och kan visa det får du nya elektroder av oss. Vi vill rädda ditt och dina NÄRMASTES liv om de drabbas av plötsligt hjärtstopp. Tillsammans kan vi rädda liv.

    Dorien och Kia
</p>
