@{
    ViewBag.Title = "Kontakta oss";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>

    KONTAKTA OSS<br />
    <a href="mailto:hjartstartare@alvsysselsvard.se">hjartstartare@alvsysselsvard.se</a><br />
    Tel. 0761-871762<br />
</address>

<address>
    TECH SUPPORT<br />
    <a href="mailto:Niklas.u.karlsson@gmail.com">Niklas.u.karlsson@gmail.com</a><br />
    Tel. 0701565226
</address>