@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Login?</h1>
    <p class="lead">Eventuel Login här!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Plats funktion 1</h2>
        <p>Möjligt att placera en funktion här.</p>
        <p><a class="btn btn-default" href=#>Länk till funktion (funkar inte) &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Plats funktion 2</h2>
        <p>Möjligt att placera en funktion här.</p>
        <p><a class="btn btn-default" href=#>Länk till funktion (funkar inte) &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Plats funktion 3</h2>
        <p>Möjligt att placera en funktion här.</p>
        <p><a class="btn btn-default" href=#>Länk till funktion (funkar inte) &raquo;</a></p>
    </div>
</div>